[Unit]
Description=pacman -Syy timer

[Timer]
OnBootSec=5min
OnCalendar=Mon..Fri,Sun *-*-* 00:05:00
Unit=pacman-sync.service

[Install]
WantedBy=multi-user.target

